.elementList{
   line-height: 15px;
   text-align: left;
   transition-duration: 1s;
   padding:10px;
   margin-top:10px;
}

.elementList img{
    display: block;
    margin: auto;
    border-radius: 10%;
}

.elementList:hover{
    transform: scale(1.05);
    background-color: rgb(244, 228, 223);
}

.elementList h5{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.textSold{
    color:orange;
}
